
*{
  color: #3b3c36;
  scroll-behavior: smooth
}

.footer * {
  color: #f5f5f5 
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.nav{
  transform: translateY(-1000px);
  transition: ease-in 0.5s ;
}

.nav.open{
  transform: translateY(0px);
}
.error{
  animation-name: errorAnimation;
  animation-duration: 0.5s;
}
@keyframes errorAnimation {
  0%{
    scale: 0.1;
  }
  100%{
    scale: 1;
  }
}